@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<h1>Access Denied</h1>

<p>
    <strong>
    
        <label>For additional assistance, kindly reach out to the administrator.</label>
    </strong>
    
</p>

@code{

    private HttpContext? HttpContext { get; set; }
    protected override void OnInitialized() {}
}
