@page "/accessdenied"

<h1>Access Denied</h1>
<label>You do not have access to the Gang Suppression Team application.  If you believe you should have access please contact the Gateway team admin to correct this.</label>


