################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/Gatekeeper/obj/Debug/net8.0/refint/Gatekeeper.dll
/Gatekeeper/obj/Release/net8.0/Gatekeeper.AssemblyInfo.cs
/Gatekeeper/obj/Release/net8.0/Gatekeeper.genpublishdeps.cache
/Gatekeeper/obj/Release/net8.0/PublishOutputs.e91407f1fd.txt
/Gatekeeper/obj/Release/net8.0/PubTmp/Out/appsettings.json
/Gatekeeper/obj/Release/net8.0/PubTmp/Out/Gatekeeper.dll
/Gatekeeper/obj/Release/net8.0/PubTmp/Out/Gatekeeper.exe
/Gatekeeper/obj/Release/net8.0/PubTmp/Out/Gatekeeper.pdb
/Gatekeeper/obj/Release/net8.0/PubTmp/Out/wwwroot/Gatekeeper.styles.css
/Gatekeeper/obj/Release/net8.0/staticwebassets.publish.json
/Gatekeeper/Properties/PublishProfiles/FolderProfile.pubxml.user
/Gatekeeper/.vs/Gatekeeper/v17/.suo
/Gatekeeper/.vs/Gatekeeper/v17/DocumentLayout.json
/Gatekeeper/bin/Debug/net8.0/Gatekeeper.dll
/Gatekeeper/bin/Debug/net8.0/Gatekeeper.exe
/Gatekeeper/bin/Debug/net8.0/Gatekeeper.pdb
/Gatekeeper/Components/Pages/AccessRequests/RequestFileForm.razor
/Gatekeeper/Gatekeeper.csproj.user
/Gatekeeper/obj/Debug/net8.0/apphost.exe
/Gatekeeper/obj/Debug/net8.0/Gatekeeper.AssemblyInfo.cs
/Gatekeeper/obj/Debug/net8.0/Gatekeeper.AssemblyInfoInputs.cache
/Gatekeeper/obj/Debug/net8.0/Gatekeeper.dll
/Gatekeeper/obj/Debug/net8.0/Gatekeeper.pdb
/Gatekeeper/obj/Debug/net8.0/project.razor.vs.bin
/Gatekeeper/obj/Debug/net8.0/ref/Gatekeeper.dll
/Gatekeeper/obj/Release/net8.0/Gatekeeper.AssemblyInfoInputs.cache
/Gatekeeper/Properties/PublishProfiles/FolderProfile1.pubxml

Gatekeeper/Properties/PublishProfiles/FolderProfile1.pubxml.user

Gatekeeper/Properties/PublishProfiles/TestDeploy.pubxml

Gatekeeper/Properties/PublishProfiles/TestDeploy.pubxml.user
