/*.grid {
    height: 25rem;
    overflow-y: auto;
}
*/
[b-cnhds8r9c9] th.full-name {
    width: 14rem;
}

[b-cnhds8r9c9] .col-width {
    min-width: 30em;
    max-width: 30em;
}

/* Subtle stripe effect */
[b-cnhds8r9c9] tr:nth-child(even) {
    background: #d8d8d8;
}

/* Don't collapse rows even if they are empty */
[b-cnhds8r9c9] tbody tr {
    height: 1.8rem;
    width:100%;
}

.page-size-chooser[b-cnhds8r9c9] {
    display: flex;
    align-items: revert;
    margin-bottom: 1rem;
}

.page-size-chooser select[b-cnhds8r9c9] {
    margin: 0 1rem;
    padding: 0.25rem 0.5rem;
}

.flag[b-cnhds8r9c9] {

   color: red;
    font-weight: 200;

}

.flagblue[b-cnhds8r9c9] {
    font-weight: 200;
    color: blue;
}