@inject IJSRuntime JSRuntime
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider authenticationProvider
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@using Gatekeeper.Models.MenuInfo

@inject LoginState loginState
@implements IDisposable


@inject IDbContextFactory<AppDbContext> DbFactory
@inject NavigationManager navigationManager



<div class="text-center" style="max-height:200px; max-width:200px;">
    <img src="crest-cps.svg" class="rounded mx-auto d-block" />
 
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    @if (canAccess)
    {
        <nav class="flex-column">
            <div class="nav-item px-2">
                <NavLink class="nav-link" @onclick="HideMenu" href="/mytasks/search" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> My Tasks
                </NavLink>
            </div>
            @if (adminrole)
            {
            <div class="nav-item px-2">
                <NavLink class="nav-link" @onclick="HideMenu" href="/accessrequests/search">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Access Request
                </NavLink>
            </div>
                <div class="nav-item px-2">
                    <NavLink class="nav-link" @onclick="HideMenu" href="/analyst/add">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Analysts
                    </NavLink>
                </div>
                <div class="nav-item px-2">
                    <NavLink class="nav-link" @onclick="HideMenu" href="/holiday/add">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Holidays
                    </NavLink>
                </div>
            }
        </nav>
    }
</div>

@code {
    private bool canAccess = false;
    private bool adminrole = false;
    public List<Analyst>? analysts { get; set; } = new List<Analyst>();
    private string? userReg;
    public SelectedmenuInfo? selmenu;

    protected async override Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();

        loginState.OnChange += StateHasChanged;

        var authState = await authenticationProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var nameUser = user.Identity?.Name;
        userReg = user.Identity?.Name.ToString().ToUpper().Replace("CPSENTERPRISE\\", "");
        analysts = await context.Analysts.Where(x => x.Regno.Contains(userReg) && !x.Status.Contains("del")).ToListAsync();

        if (analysts.Count > 0)
        {
            canAccess = true;
            if (string.IsNullOrEmpty(analysts.FirstOrDefault().Role.ToLower()) )
            {
                adminrole = false;
            }
            else
            {
                adminrole = true;
            }
        }
        else
        {
            canAccess = false;
        }
    }

    public async void ShowMenu()
    {
        selmenu = new SelectedmenuInfo();
        selmenu.Name = "Access Request";

        await sessionStorage.SetItemAsync("SessionSelectedMenu", selmenu);
        await JSRuntime.InvokeVoidAsync("showTopmenu");
    }

    public void Dispose()
    {
        loginState.OnChange -= StateHasChanged;
    }


    public async void HideMenu()
    {
        await sessionStorage.ClearAsync();
        await JSRuntime.InvokeVoidAsync("hideTopmenu");
    }

    protected override async Task OnParametersSetAsync()
    {
    }


    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            // await sessionStorage.SetItemAsync("RQID", fileid);
            //await sessionStorage.SetItemAsStringAsync("SessionUser", userReg);
            //var RQID = await sessionStorage.GetItemAsync<string>("RQID");


            firstRender = false;
        }


    }
}