a:hover {
    font-weight: bold;
    color: darkblue;
    
}

a:active {
    background-color: #000;
    color: white;
}

#search-tab {
    border: none;
    background-color: transparent;
}

    #search-tab:Hover {
    font-weight: bold;
    color: darkblue;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
    background-color: steelblue;
    font-weight: bold;
    border-radius: 4px;
    float: right;
}

.navbar-nav .nav-link:hover {
    font-weight: bold;
    color: darkblue;
}

