[b-c731o5n56r] table {
    min-width: 100%;
}

[b-c731o5n56r] th.filter-name {
    width: 14rem;
}

/* Subtle stripe effect */
[b-c731o5n56r] tr:nth-child(even) {
    background: #d8d8d8;
}

/* Don't collapse rows even if they are empty */
[b-c731o5n56r] tbody tr {
    height: 1.8rem;
}
